<a href="https://colab.research.google.com/github/sparc373/ML-Models/blob/master/LinearRegression_Multi_Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn import linear_model

In [3]:
df = pd.read_csv('Multi-linear-reg-house-price.csv')
df

   area  bedrooms  age    price
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       NaN    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000
5  4100       6.0     8  810000

In [18]:
import math
bedrooms1 = math.floor(df.bedrooms.median())
print(bedrooms1)

4

In [19]:
df.bedrooms = df.bedrooms.fillna(bedrooms1)
print(df.bedrooms)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [20]:
print(df)

   area  bedrooms  age    price
0  2600       3.0    20  550000
1  3000       4.0    15  565000
2  3200       4.0    18  610000
3  3600       3.0    30  595000
4  4000       5.0     8  760000
5  4100       6.0     8  810000

In [23]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age ']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [24]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [25]:
reg.intercept_

221323.00186540396

In [31]:
reg.predict([[5000,3.0,10]])

array([819484.67272357])

In [30]:
print("Single variable formula is y=mx+b for Linear Reg for single variable")
print("Multi variable formula is mx will keep adding as per features like below\n")
print("If data has 2 features or 2 independent variables then its y = m1x+m2x+b \n")
print("Hence its y = m1x+m2x+......mnx+b\n")
print("In this example its y = m1x+m2x+m3x+b, which is price = m1*area+m2*bedrooms+m3*age+b\n")
print("M is coefeciant which coef_ and b is intercept which will be calculated as below to achive prediction\n")
print(" price = coef_*area+coef_*bedrooms+coef_*age+intercept and result is:- \n")
112.06244194*5000 + 23388.88007794*3 + -3231.71790863*10 + 221323.00186540384

Single variable formula is y=mx+b for Linear Reg for single variable
Multi variable formula is mx will keep adding as per features like below

If data has 2 features or 2 independent variables then its y = m1x+m2x+b

Hence its y = m1x+m2x+......mnx+b

In this example its y = m1x+m2x+m3x+b, which is price = m1*area+m2*bedrooms+m3*age+b

M is coefeciant which coef_ and b is intercept which will be calculated as below to achive prediction

 price = coef_*area+coef_*bedrooms+coef_*age+intercept and result is:-

819484.6727129238